body{
    background-color: rgb(253, 253, 245);
}
hr{

    border: 1px solid black;
}

.text{
    color: black;

}


.join-area{
    width: 100%;
    padding: 50px;
    padding-top: 100px;
    background-color: rgb(173, 238, 238);
    justify-content: center;
    align-items: center;
}

footer{
    margin-top: 50px;
   
    width: 1050px;
    height: 300px;
    background-color: black;
